APP_PORT=3000
APP_HOST=0.0.0.0
SESSION_SECRET=Proftvv25*3.

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=2503
DB_NAME=Report-Mark2

# Z:\\Report-Mark-II\\raporlar
STORAGE_ROOT=Z:\\Report-Mark-II\\raporlar

# Sadece ana makineden sablon ekleme icin IP kurali (virgul ile ayir)
ADMIN_IPS=127.0.0.1,::1

# Belge numarasi prefix (P-20241209-0001)
DOC_PREFIX=P

